//fc221-bg
.fc221-part {
  .fc221-tab {
    margin-top: 21px;
  }
  .tabbable-panel {
    border: none;
    padding: 10px;
  }
  /* Default mode */
  .tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
  }
  .tabbable-line > .nav-tabs > li {
    width: 33.333%;
    margin: 0 !important;
    text-align: center;
  }
  .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
    @include roboto-light;
    font-size: 18px;
    letter-spacing: 0.7px;
  }
  .tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 3px solid #7c50d9;
    position: relative;
  }
  .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 33px;
    text-align: justify;
    color: #8b8b8d;
    @include roboto-light;
  }
  .portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
  }
  .fc221-padding {
    margin: 0 -36px;
  }
  .tab-pane.border-fc {
    border-bottom: 1px solid #e3e3ef;
    background-image: url(../images/paypal-arrow.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 5px;
  }
  .tab-pane.border-fc.ford {
    border-bottom: none;
    margin-top: 14px;
  }
  .left-fc211 {
    float: left;
    margin-right: 20px;
    img {
      width: 50px;
    }
  }
}

//fc252
.fc252-bg {
  position: relative;
  width: 100%;
  float: left;
  background-color: #fff;
  background-image: url(../images/header-menu-bg.png);
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 37px 21px 110px;
  height: 274px;
  /* min-height: 100%; */
  color: #fff;
  //utiliser
  .utiliser {
    margin-top: 28px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 23px;
    span {
      font-size: 19px;
      letter-spacing: 0.4px;
      @include roboto-light;
      color: #bfade5;
    }
  }
  //voir-mes
  .voir-mes {
    font-size: 17px;
    font-family: 'Roboto-Medium';
    color: $white;

  }
  //vous-fc252
  .vous-fc252 {
    padding: 94px 0;
  }
  //wave-slanted
  .wave-slanted {
    height: 34px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    z-index: 999;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
  }
  .left-arrow {
    img {
      width: 10px;
    }
  }
  //gift-pack
  .gift-pack {
    text-align: center;
    img {
      width: 100%;
      max-width: 70px;
    }
  }
  //invitez
  .invitez {
    color: #a2a3a5;
    font-size: 21px;
    text-align: center;
    width: 100%;
    margin: 21px auto;
    @include roboto-light;
    line-height: 25px;
    letter-spacing: 0.2px;
    margin-bottom: 41px;
  }
  .code-cechao {
    text-align: center;
    span {
      color: #212121;
      @include roboto-light;
      font-size: 21px;
      letter-spacing: 0.5px;
    }
    h4 {
      color: #7c50d9;
      @include roboto-light;
      font-weight: 600;
      font-size: 28px;
      line-height: 16px;
      letter-spacing: 0.9px;
    }
  }
  .identi{
    h3{
      font-size: 28px;
      @include roboto-light;
    }
  }
}
//fc257
.bottom-fc257 {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;
  img {
    width: 100%;
    height: 100px;
  }
}

//fc257-media-opject
.fc257-media-opject {
  margin-top: 28px;
  .media.historique {
    border-bottom: 1px solid #e3e3ef;
  }
  .media-left {
    padding-right: 24px;
    img {
      width: 15px;
      max-width: none;
    }
  }
  p {
    color: #c1afea;
    @include roboto-light;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 20px;
  }
  //media-heading
  h4.media-heading {
    color: #ffffff;
    @include roboto-light;
    font-size: 20px;
  }
}

