// body-wrapper
.body-wrapper {
  @include full-width;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

// cover-map
.fc25-bg {
  .fc25-background {
    .left-arrow {
      img {
        width: 10px;
      }
    }
    .identi {
      h3 {
        font-size: 28.6px;
        font-weight: 300;
        font-style: normal;
        margin-top: 17px;
        @include roboto-light;
      }
    }
    .sais {
      float: left;
      margin-top: 17px;
      p {
        font-size: 20.6px;
        line-height: 24px;
        @include roboto-light;
      }
    }
  }
  .country-part {
    form {
      width: 100%;
      margin: auto;
      margin-top: 109px;
      input {
        border: none;
        background: transparent;
        box-shadow: none;
        margin-top: 9px;
        width: 100%;
      }
      button {
        background: transparent;
        border: none;
        color: #fff;
      }

    }
  }

  ::-webkit-input-placeholder {
    color: transparent !important;
  }
  .caret {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    left: 42px;
    top: 23px;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  .input-group {
    display: table;
    border-collapse: separate;
    border-bottom: 1px solid #ffffff;
  }
  .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus,
  .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus,
  .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: transparent;
    border: transparent;
  }
  .input-group .form-control:not(:first-child):not(:last-child),
  .input-group-addon:not(:first-child):not(:last-child),
  .input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    color: #fff;
    font-size: 17px;
  }
  .message-input{
    @include roboto-light;
    color: #c3b0ed;
    font-size: 17px;
    margin-top: 5px;

  }
}

.country-part .f16 .flag {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: text-top;
  line-height: 16px;
  background-size: 100%;
  -webkit-transform: scale(2, 2.2);
}

.country-part span.btn-cc {
  margin-left: 16px;
  font-size: 26px;
  @include roboto-light;
}

.country-part
.country-part .input-group-btn:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 31px;
  background: #ffffff;
  right: 23px;
  top: 19%;
}

.country-part .input-group-btn {
  position: relative;

}

.country-part
  // country-part
.country-part {
  button {
    background: transparent;
    color: #fff;
    border: none;
    box-shadow: none;
  }

  // btn-default


}

