// body-wrapper
.body-wrapper {
  @include full-width;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

// cover-map
.fc25-bg {
  .fc25-background {
    .left-arrow {
      img {
        width: 10px;
      }
    }
    .identi {
      h3 {
        font-size: 28.6px;
        font-weight: 300;
        font-style: normal;
        margin-top: 17px;
        @include roboto-light;
      }
    }
    .code-a {
      float: left;
      margin-top: 17px;
      p {
        font-size: 20.6px;
        line-height: 24px;
        @include roboto-light;
        @include mobile-xs-349 {
          font-size: 18px;
        }
      }
    }
  }
}

.otp-code {
  text-align: center;
  float: left;
  margin-top: 27px;
  input {
    border: none !important;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #fff !important;
    width: 100px;
    text-align: center;
    padding: 5px;
    margin-left: 10px;

  }
  button {
    margin-top: 20px !important;
    margin: 0 auto;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
}

.pas-code {
  position: absolute;
  bottom: 83px;
  font-family: 'Roboto-Medium';
  font-size: 17px;
  font-weight: normal;
}

.bottom-fc25 {
  position: absolute;
  bottom: 0;

  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;
  img {
    width: 100%;
    height: 77px;
  }

}

.bottom-fc25.fc27-bottom {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;
  img {
    width: 100%;
    height: 105px;
  }

}

//fc27
button.next-fc37 {
  width: 72px;
  height: 72px;
  border: 1px solid;
  position: absolute;
  top: 18px;
  right: 20px;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  z-index: 99999999;
  background: #6242a3;
  background-image: url(../images/arrow-next.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);

  -ms-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

//fc38
.fc38-bg {
  position: relative;
  width: 100%;
  float: left;
  background-color: #fff;
  background-image: url(../images/header-menu-bg2.png);
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 37px 21px 110px;
  height: auto;
  min-height: 100%;
  color: #fff;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.fc43-popup {
  h4 {
    font-size: 29px;
    color: #7c50d9;
    @include roboto-light;
    margin-top: -4px;
  }
  .modal-title {
    float: left;
  }
  .right-popup-pic {
    text-align: right;
    margin-top: -24px;
    padding-right: 0;
    img {
      width: 64px;
    }
  }
  .modal-header {
    padding: 49px 15px;
    border-bottom: none;

  }
  .modal-footer {
    border-top: none;
  }
  .text-parrain {
    font-size: 16px;
    @include roboto-light;
    margin-left: 0px;
    margin-top: 15px;
    word-spacing: 9px;
    line-height: 19px;
    text-align: justify;
  }

  .annu {
    margin-top: 12px;;
    font-size: 16px;
    color: #7c50d9;
    font-family: 'Roboto-Black';
    letter-spacing: 0.7px;
    border-radius: 11px;
    max-width: 329px;
    height: 60px;
    width: 100%;
  }
  .modal-body {
    padding: 0px;
  }
  .accepter-fc {
    margin-top: 12px;;
    font-size: 16px;
    color: #fff;
    font-family: 'Roboto-Black';
    letter-spacing: 0.7px;
    border-radius: 11px;
    background: #573a97;
    max-width: 329px;
    height: 60px;
    width: 100%;
  }
}

//fc55

.fc55-paypal {
  margin-top: 59px;
  .fc55 {
    background: none;
    border-bottom: 1px solid #e9e9f2;
    width: 100%;
    text-align: left;
    color: #212121;
    background-image: url(../images/paypal-arrow.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 5px;
    outline: none;
    @include roboto-light;
    font-size: 16px;
    padding-left: 0;
    margin-bottom: 29px;
    padding: 6px 0;
  }
  .fc55paypal {
    background: none;
    border-bottom: 1px solid #e9e9f2;
    width: 100%;
    text-align: left;
    color: #212121;
    background-image: url(../images/paypal-arrow.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 5px;
    outline: none;
    @include roboto-light;
    font-size: 16px;
    padding-left: 0;
    padding: 6px 0;
  }
}
//fc56
