// body-wrapper
.body-wrapper {
  @include full-width;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

// cover-map
.fc25-bg {
  .fc25-background {
    .left-arrow {
      img {
        width: 10px;
      }
    }
    .identi {
      h3 {
        font-size: 28.6px;
        font-weight: 300;
        font-style: normal;
        margin-top: 17px;
        @include roboto-light;
      }
    }
    .code-a {
      float: left;
      margin-top: 17px;
      p {
        font-size: 20.6px;
        line-height: 24px;
        @include roboto-light;
        @include mobile-xs-349 {
          font-size: 18px;
        }
      }
    }
  }
  .next-fc37 {
    width: 72px;
    height: 72px;
    right: 22px;
    position: absolute;
    border-radius: 100%;
    bottom: 6px;
    z-index: 999;
    background: #6242a3;
    background-image: url('#{$imageUrl}/arrow-next.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
  }
}

.otp-code {
  text-align: center;
  float: left;
  margin-top: 27px;
  input {
    border: none !important;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #fff !important;
    width: 100px;
    text-align: center;
    padding: 5px;
    margin-left: 10px;

  }
  button {
    margin-top: 20px !important;
    margin: 0 auto;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
}

.pas-code {
  position: absolute;
  bottom: 83px;
  font-family: 'Roboto-Medium';
  font-size: 17px;
  font-weight: normal;
}

.le-code {
  clear: both;
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  color: #c3b0ed;
  font-size: 17px;
  margin-left: 10px;
  padding-top: 5px;
  display: none;
}

.bottom-fc37 {
  position: absolute;
  bottom: 0;
  background-image: url('#{$imageUrl}/fc37-bottom.png');
  height:90px;
  width: 100%;
  left: 0;
  right: 0;

  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;

}

