// body-wrapper
.body-wrapper {
  @include full-width;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

// cover-map
.fc25-bg {
  .fc25-background {
    .left-arrow {
      img {
        width: 10px;
      }
    }
    .identi {
      h3 {
        font-size: 28.6px;
        font-weight: 300;
        font-style: normal;
        margin-top: 17px;
        @include roboto-light;
      }
    }
    .code-a {
      float: left;
      margin-top: 17px;
      p {
        font-size: 20.6px;
        line-height: 24px;
        @include roboto-light;
        @include mobile-xs-349 {
          font-size: 18px;
        }
      }
    }
  }
}

.otp-code {
  text-align: center;
  float: left;
  margin-top: 50px;
  input {
    border: none !important;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #fff !important;
    width: 100px;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
    @include mobile-xs-349{
      width: 40px;
    }

  }
  button {
    margin-top: 20px !important;
    margin: 0 auto;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .fc-main {
    margin-top: 50px;
  }

}

.pas-code {
  position: absolute;
  bottom: 83px;
  font-family: 'Roboto-Medium';
  font-size: 17px;
  font-weight: normal;
}
@include mobile-xs-349{
  .otp-code.fc-main input {
    width: 40px;
  }
}
