// body-wrapper
.body-wrapper {
  @include full-width;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

// cover-map
.fc4 {
  @include full-width;
  .fueltime-main {
    background: url(../images/fc4-2.png);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;

  }
  //pic-fuel
  .pic-fuel {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    //img
    img {
      width: 113px;
      @include mobile-xs-349 {
        width: 100px;
      }
    }

  }
  //text-fuel
  .text-fuel {
    font-size: 46px;
    color: #fff;
    font-family: 'PassionOne-Regular';
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 4px;
  }
}

//bottom-cover-img
.bottom-cover-img {
  @include full-width;
  background: url(../images/fc4-1.png);
  height: 330px;
  margin-top: -12px;
  background-size: cover;
  .plus-de {
    text-align: center;
    margin-top: 52px;
    font-size: 20px;
    color: #212121;
    letter-spacing: 0px;
    @include mobile-xs-349 {
      font-size: 18px;
    }
  }
  .vient-a {
    text-align: center;
    margin-top: -6px;

    font-size: 28px;
    @include mobile-xs-349 {
      font-size: 25px;
    }
    @include roboto-light;
    span {
      font-size: 46px;
      color: #7c50d9;
      font-family: 'PassionOne-Regular';
      @include mobile-xs-349 {
        font-size: 40px;
      }
    }

  }
  .se-connecter {
    margin-top: 22px;
    padding: 0 15px;
    .bt-connecter {
      max-width: 349px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      height: 62px;
      line-height: 62px;
      background: #573a97;
      color: #fff;
      font-size: 18px;
      border-radius: 5px;
      font-family: 'Roboto';
    }
  }
  .avec-un {
    padding-top: 43px;
    text-align: center;
    font-size: 16px;
    color: #4267b2;
    @include roboto-bold;
    letter-spacing: 0.3px;
  }
}
