// body-wrapper
.body-wrapper {
  @include full-width;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

// cover-map
.fc45-bg {
  @include full-width;
  background-color: $ghostwhite;
  background-image: none;
  @include bg-cover(100% 100%);
  background-repeat: no-repeat;
  padding: 15px;
  padding: 37px 21px 142px;
  min-height: 100%;
  height: auto;
  color: $white;
  .vos-text {
    font-size: 28px;
    color: #212121;
    @include roboto-light;
    @include mobile-xs-349 {
      font-size: 23px;
    }
    padding-top: 30px;
    span {
      font-size: 21px;
      color: #7c50d9;
      @include roboto-light;
      margin-left: 5px;
    }
  }
  .comment-fc45 {
    color: #212121;
    @include roboto-light;
    padding-top: 15px;
    h4 {
      font-size: 20px;
      font-weight: normal;
      letter-spacing: 0.3px;
      @include mobile-xs {
        font-size: 18px;
      }
    }
  }
  .form-fc45 {
    margin-top: 70px;
    input {
      border: none;
      background: transparent;
      box-shadow: none;
      border-bottom: 1px solid #e3e3ef;
      border-radius: 0px;
      padding-left: 2px;
      font-size: 17px;
      @include roboto-light;
      padding-top: 0px;
      letter-spacing: 0.4px;

    }
  }
  .le-formet {
    color: #8b8b8d;
    @include roboto-light;
    font-size: 17px;

  }
  .form-fc50 {
    margin-top: 44px;
    input {
      font-size: 19.5px;
    }
  }
  .fc52 {
    margin-top: 45px;
  }
}

.bottom-fc45 {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;
  img{
    width: 100%;
    float: left;
    height: 122px;
  }
}

.form-group.fc-before input {
  border-bottom: 1px solid #8f69de;
}

.form-group.fc-before-bottom input {
  border-bottom: 1px solid #ecedf5;
}

//fc46
.bottom-fc46 {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;
  img{
    width: 100%;
    height: 130px;
  }
}

.next-fc46 {
  width: 72px;
  height: 72px;
  right: 22px;
  position: absolute;
  border-radius: 100%;
  bottom: 24px;
  z-index: 999;
  background: #f5f6fa;
  background-image: url(../images/fc46-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  @include mobile-xs-349 {
    bottom: 36px;
  }
}

//fc49
.form-fc45.fc49 .form-group {
  margin-bottom: 5px;
}

//fc50
.comment-fc50 {
  margin-top: 27px;

  h4 {
    font-size: 19.8px;
    letter-spacing: 0.3px;
    word-spacing: 11px;
    color: #212121;
    line-height: 23px;
    @include mobile-xs-349 {
      font-size: 18px;
    }

  }
}

//fc52
.form-fc45.fc52 input {
  font-size: 45px;
  color: #212121;
}

.form-fc45.fc52 .form-group {
  margin-bottom: 5px;
}