// body-wrapper
.body-wrapper {
  @include full-width;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

// cover-map
.fc25-bg {
  @include full-width;
  background-color: $white;
  background-image: url('#{$imageUrl}/header-menu-bg.png');
  @include bg-cover(100% 100%);
  background-repeat: no-repeat;
  padding: 37px 21px 110px;
  height: auto;
  min-height: 100%;
  color: $white;
  .heading-fc53 {
    font-size: 28.7px;
    @include roboto-light;
    color: #ffffff;
    margin-top: 31px;
    margin-bottom: 22px;
    @include mobile-xs-349 {
      font-size: 25px;
    }
  }
  .en-vous {
    p {
      @include roboto-light;
      font-size: 21.1px;
      line-height: 25px;
      text-align: justify;
      @include mobile-xs-349 {
        font-size: 18px;
      }

    }
  }
  .lorem-fc53 {
    margin-top: 23px;
    p {
      @include roboto-light;
      color: #ffffff;
      font-size: 16px;
      text-align: justify;
      line-height: 19px;
      letter-spacing: 0.1px;
      @include mobile-xs-349 {
        font-size: 15px;
      }
    }
  }
  .radio-fc53 {
    margin-top: 40px;
  }
}

.bottom-fc53-2 {
  position: absolute;
  bottom: 0;
  height: 101px;
  width: 100%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;
  img{
    width: 100%;
    height: 100px;
  }
}

.radio-fc53 [type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.radio-fc53 [type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  @include roboto-light;
  font-size: 16px;
}

.radio-fc53 [type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.radio-fc53 [type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #3eb4ec;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.radio-fc53 [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radio-fc53 [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.bottom-fc53-2 {
  .vertical-block {
    height: 92px;
    position: absolute;
    z-index: 5;
    text-align: center;
    bottom: 0;
    left: 0;
  }
  .cell {
    span {
      color: #7c50d9;
      @include roboto-bold;
      font-size: 16px;
    }
  }

}