// body-wrapper
.body-wrapper {
  @include full-width;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

// fc56-slice
.fc56-slice {
  .crate-credit {
    margin-top: 17px;
  }
  //fc-credit
  .fc-credit {
    font-size: 28px;
    color: #000000;
    @include roboto-light;
    padding-top: 30px;
    letter-spacing: 0.5px;
  }
  //include-form
  .include-form {
    margin-bottom: 37px;
    input {
      border: none;
      background: transparent;
      box-shadow: none;
      border-bottom: 1px solid #ededf5;
      border-radius: 0px;
      @include roboto-light;
      font-size: 20px;
      padding-left: 0;
      letter-spacing: 0.5px;
      padding: 20px 0
    }
  }
  //numero-de
  .numero-de {
    margin-bottom: 14px;
    input {
      padding-left: 0;
      font-size: 17px;
      letter-spacing: 0.2px;
    }
  }
  //ccv-input

  .col-xs-6 {
    padding-left: 0px;
    padding-right: 0;
    .ccv-post {
      padding-left: 20px;
    }
    input {
      border: none;
      background: transparent;
      box-shadow: none;
      border-radius: 0px;
      border-bottom: 1px solid #ededf5;
      padding-left: 0;
      @include roboto-light;
      color: #000000;
      font-size: 17px;
      letter-spacing: 0.5px;
      padding: 20px 0;
    }
  }
  span.question-mark {
    position: absolute;
    color: #8a63dd;
    right: 0;
    left: 159px;
    top: 11px;
    bottom: 0;
    font-size: 14px;
    border: 1px solid #e3e3ef;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    float: right;
    margin: 0 auto;
    font-weight: normal;
  }
  .country-selected {
    float: left;
    width: 100%;
    margin-top: 10px;
    select {
      background: transparent;
      border: none;
      border-bottom: 1px solid #ccc;
      width: 100%;
      outline: none;
      padding: 8px 0;
      color: #8b8b8d !important;
      font-size: 17px;
      @include roboto-light;
      background-image: url(../images/fc56-arrow-down.png);
      background-repeat: no-repeat;
      background-position: 100%;
      background-size: 9px;
    }
    .btn-group {
      width: 100% !important;
      border-bottom: 1px solid #e3e3ef;
    }
    button {
      border: none;
      background: transparent;
      outline: none;
    }
    button.btn-default.active, button.btn-default:active,
    button.btn-default:hover, button.open > .dropdown-toggle.btn-default {
      background: transparent;
      outline: none;
      box-shadow: none;
    }
    button.btn-default.active:focus {
      outline: none;
      box-shadow: none;
    }
  }

}

//bottom-fc56
.bottom-fc56 {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;
  img {
    width: 100%;
    height: 246px;

  }
}

.right-cvv.ccv-post {
  padding-left: 20px;
}

.camera-post {
  position: absolute;
  top: 24px;
  right: 0;
  left: 0;
  bottom: 0;
  background: #7d63b3;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  padding: 39px;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
}

//fc57
.camera-post img {
  height: 38px;
}

.bottom-cam {
  float: left;
  width: 100%;
  .camera-bottom-text {
    position: absolute;
    bottom: 30px;
    text-align: center;
    right: 0;
    left: 0;
    color: #ffff;
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
  }
  .carte {
    top: 128px;
    color: #212121;
    @include roboto-light;
  }
}

.bottom-fc57 {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;
  .size-of {
    height: 283px;
    width: 100%;
  }
}

//fc71

.bottom-fc71 {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;
  img {
    height: 100px;
    width: 100%;
  }
}

.fc71-bg {
  .left-arrow {
    img {
      width: 10px;
    }
  }
  .identi {
    h3 {
      font-size: 28.6px;
      font-weight: 300;
      font-style: normal;
      margin-top: 17px;
      color: #212121;
      @include roboto-light;
    }
  }
  .code-a {
    float: left;
    margin-top: 17px;
    p {
      font-size: 20.6px;
      line-height: 24px;
      @include roboto-light;
      color: #212121;
      word-spacing: 37px;
    }
  }
  .fc-input {
    margin-top: 25px;
  }
  .otp-code {

  }
  .otp-code {
    input {
      color: #212121;
    }
  }
  .message-input {
    font-size: 17px;
    margin-top: 7px;
    color: #212121;
    @include roboto-light;
  }
}

input#codeBox1 {
  border-bottom: 2px solid #906bde !important;
}

.next-fc71 {
  width: 72px;
  height: 72px;
  right: 22px;
  position: absolute;
  border-radius: 100%;
  bottom: 13px;
  z-index: 999;
  background: #f5f6fa;
  background-image: url(../images/fc46-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.bottom-fc73 {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;
  img {
    height: 128px;
    width: 100%;
  }
}

.next-fc73 {
  width: 72px;
  height: 72px;
  right: 22px;
  position: absolute;
  border-radius: 100%;
  bottom: 27px;
  z-index: 999;
  background: #f5f6fa;
  background-image: url(../images/fc46-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

//fc99

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.fc99-bg {
  .search-fc99 {
    margin-top: 22px;
    input {
      border: none;
      background: transparent;
      box-shadow: none;
      border-radius: 0px;
      padding-left: 0px;
      border-bottom: 1px solid #e3e3ef;
      color: #212121;
      font-size: 16px;
      @include roboto-light;
      letter-spacing: 0.2px;
      background-image: url(../images/fc99-search.png);
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: 100%;
      @include mobile-xs-359 {
        font-size: 13px;
      }
    }
  }

}
