// body-wrapper
.body-wrapper {
  @include full-width;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

// fc56-slice
.fc56-slice {
  .crate-credit {
    margin-top: 17px;
  }
  //fc-credit
  .fc-credit {
    font-size: 28px;
    color: #000000;
    @include roboto-light;
    padding-top: 30px;
    letter-spacing: 0.5px;
  }
}

//domicile-box
.domicile-box {
  margin-top: 39px;
  h4.media-heading {
    color: #212121;
    @include roboto-light;
    font-size: 18px;
    letter-spacing: 0.2px;
    @include mobile-xs-359 {
      font-size: 14px;
    }
  }
  p {
    color: #8b8b8d;
    @include roboto-light;
    font-size: 17px;
    line-height: 10px;
    @include mobile-xs-359 {
      font-size: 14px;
    }
  }
  .media-left {
    padding-right: 16px;
    img {
      max-width: 32px !important;
    }
  }
  .media {
    border-bottom: 1px solid #e3e3ef;
    margin-bottom: 25px;
    .last-map {
      border-bottom: none;
    }
  }
}

//last-map
.media.last-map {
  border-bottom: none;
}

//fc99
.Livraison-table {
  margin-top: 23px;
  table {
    padding: 12px 0;
    tr {
      @include roboto-light;

      td {
        padding-left: 0px;
        color: #ffffff;
        @include roboto-light;
        font-weight: 500;
        font-size: 15px;
      }
      padding-left: 0px;
      th {
        @include roboto-light;
        border-bottom: 1px solid #e3e3ef;
        padding-left: 0px;
        font-size: 15px;
        letter-spacing: 0.9px;
        color: #ffffff;
        font-weight: 500;
      }
    }
    .total-fc125 {
      text-align: right;
    }
  }
}

.Livraison-table .table > thead > tr > th,
.table > thead > tr > td, .table > tbody > tr > th,
.table > tbody > tr > td, .table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 17px 0 6px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

//fc125-background
.fc125-background {
  background: #f5f6fa;
}

//fc125-bg
.fc125-bg {
  position: relative;
  width: 100%;
  float: left;
  background-color: #fff;
  background-image: url(../images/header-menu-bg.png);
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 37px 21px 110px;
  height: 336px;
  /* min-height: 100%; */
  color: #fff;
  .fc25-background {
    .left-arrow {
      img {
        width: 10px;
      }
    }
  }
  //wave-slanted
  .wave-slanted {
    height: 34px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    z-index: 999;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
  }
  //vous-fc125
  .vous-fc125 {
    padding: 72px 0;
  }
  .insert-pic-question {
    float: left;
    margin-right: 24px;
    img {
      width: 43px;
    }
  }
  //right-trappe
  .right-trappe {
    color: #000000;
    font-size: 20px;
    @include roboto-light;
    word-spacing: 11px;
    line-height: 22px;
    letter-spacing: 0.7px;
    @include mobile-xs-359 {
      font-size: 17px;
    }
    @include mobile-xs-349 {
      font-size: 14px;
    }
  }
  .mid-section-fc125 {
    margin-top: 20px;
    p {
      color: #7a7b7d;
      font-size: 14px;
      text-align: justify;
      @include roboto-light;
      letter-spacing: 0.7px;
    }
  }
  .radio-box-fc {
    margin-top: 20px;
    form {
      label {
        @include roboto-light;
      }
    }
  }
}

//fc125-radio-button
.radio-box-fc [type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.radio-box-fc [type="radio"]:checked + label,
.radio-box-fc [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 39px;
  cursor: pointer;
  line-height: 25px;
  display: inline-block;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.2px;
  @include mobile-xs-359 {
    font-size: 15px;
  }
}

.radio-box-fc [type="radio"]:checked + label:before,
.radio-box-fc [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.radio-box-fc [type="radio"]:checked + label:after,
.radio-box-fc [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 22px;
  height: 22px;
  background: #b8a3e9;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.radio-box-fc [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radio-box-fc [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.valider-span {
  .vertical-block {
    text-align: center;
    bottom: -59px;
  }
  span {
    color: #fff;
    font-family: 'Roboto-Black';
    font-size: 17px;
    font-weight: 300;
  }
}

//fc146
.appro {
  .fc146-pages {
    padding-top: 41px !important;
    height: 359px !important;
  }
  span.Livraison-head {
    font-size: 28px;
  }
  .menu-list.restants {
    padding: 57px 22px !important;
  }
  .en-fueltime {
    h4 {
      color: #212121;
      @include roboto-light;
      font-size: 28px;
      letter-spacing: 0.1px;
      @include mobile-xs-349 {
        font-size: 26px;
      }
    }
  }
  .temps-text {
    padding-top: 19px;
    p {
      color: #212121;
      @include roboto-light;
      font-size: 15px;
      letter-spacing: 0.5px;
    }
  }
  .last-two-three {
    text-align: center;
    font-size: 65px;
    color: #212121;
    letter-spacing: 0.9px;
    position: relative;
    @include mobile-xs-359 {
      font-size: 45px;
    }
    @include mobile-xs-359 {
      font-size: 35px;
    }
    :after {
      position: absolute;
      content: '';
      width: 100px;
      height: 1px;
      background: #ab9cce;
      right: 0;
      bottom: 0;
      @include mobile-xs-349 {
        width: 80px;
      }
    }
    :before {
      position: absolute;
      content: '';
      width: 100px;
      height: 1px;
      background: #ab9cce;
      left: 0;
      bottom: 0;
      @include mobile-xs-349 {
        width: 80px;
      }
    }
    span {
      font-size: 17px;
    }
  }
  span.rest-bottom {
    display: block;
    @include roboto-light;
    color: #212121;
    font-size: 29px;
    line-height: 11px;
    @include mobile-xs-359 {
      font-size: 24px;
    }
    @include mobile-xs-359 {
      font-size: 20px;
    }
  }
}

//fc148
.partof-fc148 {
  padding-top: 15px;
  .merchi {
    padding-top: 14px;
    h4 {
      font-family: 'Roboto-Medium';
      font-size: 20px;
      letter-spacing: 0.5px;
    }
  }
  .fc148-nous {
    p {
      @include roboto-light;
      color: $white;
      font-size: 19px;
      line-height: 22px;
      letter-spacing: 0.4px;
    }
  }
  .degree-point {
    text-align: center;
    padding-top: 16px;
    span {
      @include roboto-light;
      color: $white;
      font-size: 64px;
    }

  }
  span.size-redus {
    font-size: 27px !important;
  }
  span.size-redus sup {
    font-size: 17px;
    position: relative;
    top: -38px;
    left: -33px;
  }
}

.fc148-bg {
  position: relative;
  width: 100%;
  float: left;
  background-color: #fff;
  background-image: url(../images/header-menu-bg.png);
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 37px 21px 110px;
  height: 381px;
  /* min-height: 100%; */
  color: #fff;
  .wave-slanted {
    height: 34px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    z-index: 999;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
  }
  .left-arrow {
    img {
      width: 10px;
    }
  }
  .ssd {
    padding: 57px 0 0 0;
    .bottom-table-fc {
      table {
        padding: 12px 0;
        tr {
          @include roboto-light;

          td {
            padding-left: 0px;
            color: #212121;
            @include roboto-light;
            font-weight: 500;
            font-size: 15px;
          }
          padding-left: 0px;
          th {
            @include roboto-light;
            border-bottom: 1px solid #e3e3ef;
            padding-left: 0px;
            font-size: 15px;
            letter-spacing: 0.9px;
            color: #212121;
            font-weight: 500;
          }
        }
        .total-fc125 {
          text-align: right;
        }
      }
    }
  }
}

//fc151

.fc148-star {
  ul {
    padding-top: 28px;
    li {
      display: inline-block;
      margin: 0px -10px 0px 39px;
      .fa {
        color: #7c50d9;
        font-size: 30px;
        @include mobile-xs-349{
          font-size: 25px;
        }
      }
    }
  }
}
li.last-fa-color .fa {
  color: #b8a3e9!important;
}
.laisser-un {
  padding-top: 34px;
  border-bottom: 1px solid #e3e3ef;
  h3 {
    color: red;
    @include roboto-light;
    color: #212121;
    color: #212121;
    font-size: 20px;
    @include mobile-xs-349{
      font-size: 16px;
    }
  }
}