// header
.header {
  width: 100%;
  float: left;
  @include roboto-light;
  padding: 37px 21px;
  color: $white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  @include mobile-sm {
    padding: 35px 15px;
  }
  @include mobile-xs-349 {
    padding: 32px 15px;
  }

  // header-wave
  .header-wave {
    position: absolute;
    left: 0;
    top: 0;
    height: 108px;
    z-index: 2;
    @include mobile-xs-349 {
      width: 140%;
      max-width: none;
      left: -20%;
      height: 115px;
    }
  }

  // header-nav
  .header-nav {
    @include full-width;
    z-index: 4;
  }

  // nav-right
  .nav-right {
    float: right;
    width: 171px;
    position: relative;
    top: -8px;
    text-align: right;
    .row {
      margin: 0 -5px;
    }
    .col-xs-4 {
      padding: 0 5px;
      &:after {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        height: 26px;
        margin-top: -13px;
        width: 1px;
        background: #378bb3;
        @include mobile-sm {
          right: -8px;
        }
        @include mobile-xs-349 {
          right: -11px;
        }
      }
      &:last-child:after {
        display: none;
      }
    }
  }

  // menu-icon
  .menu-icon {
    float: left;
    display: block;
    img {
      width: 21px;
    }
  }

  // price-tag
  .price-tag {
    color: $skycolor;
    &, p span {
      font-size: 16px;
      @include mobile-sm {
        font-size: 14px;
      }
      @include mobile-xs-349 {
        font-size: 12px;
      }
    }
    // p
    p {
      line-height: 1;
      color: $white;
      display: block;
      font-size: 32px;
      margin: 0;
      position: relative;
      top: -4px;
      @include mobile-sm {
        font-size: 32px;
      }
      @include mobile-xs-349 {
        font-size: 28px;
        top: -1px;
      }
      span {
        display: inline-block;
        position: relative;
        top: 2px;
      }
    }
  }
}

// header-menu
.header-menu {
  display: block;
  padding-bottom: 66px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: #f5f6fa;
  @include roboto-light;
  @include transition(all 500ms ease);
  @include transform(translateX(-100%));
  // showmenu
  &.showmenu {
    @include transform(translateX(0));
  }
  // profile-photo
  .profile-photo {
    @include full-width;
    background-color: $white;
    background-image: url('#{$imageUrl}/header-menu-bg.png');
    @include bg-cover(100% 100%);
    background-repeat: no-repeat;
    padding: 15px;
    padding: 54px 21px;
    height: 194px;
    color: $white;
    @include mobile-xs-349 {
      padding: 54px 15px;
    }
    // img
    img {
      width: 64px;
      @include border-radius(200px);
      vertical-align: middle;
      margin-right: 16px;
      @include mobile-xs-349 {
        width: 54px;
        margin-right: 12px;
      }
      @include mobile-xs {
        width: 50px;
        margin-right: 8px;
      }
    }
    // photo-content
    .photo-content {
      @include full-width;
      z-index: 4;
      color: #fff;
      font-size: 20px;
      letter-spacing: 0.4px;
      top: -10px;
      @include transition(all 0.4s ease);
      @include mobile-xs-349 {
        font-size: 18px;
      }
      @include mobile-xs {
        font-size: 16px;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        margin: 10px 0;
      }
    }
    // wave-slanted
    .wave-slanted {
      height: 12px;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0px;
      z-index: 2;
      @include border-radius(0px);
      margin: 0;
    }
  }

  // mention-legal
  .mention-legal {
    color: #212121;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 21px 15px;
    z-index: 5;
    a {
      color: #212121;
      font-size: 17px;
      @include roboto-light;
      @include mobile-xs-349 {
        font-size: 15px;
      }
      @include mobile-xs {
        font-size: 14px;
      }
    }
  }

  // menu-list
  .menu-list {
    @include full-width;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 60px 54px 20px;
    z-index: 6;
    background: #f5f6fa;
    @include mobile-xs-349 {
      padding: 30px 40px;
    }
    @include mobile-xs {
      padding: 30px 15px;
    }
    // ul
    ul {
      display: block;
      li {
        display: block;
        margin-bottom: 14px;
        position: relative;
        @include mobile-xs-349 {
          margin-bottom: 11px;
        }

        // notification
        span.notification {
          width: 23px;
          height: 23px;
          line-height: 23px;
          font-size: 15px;
          text-align: center;
          color: $white;
          background: $darkpurple;
          position: absolute;
          top: 1px;
          left: -43px;
          display: block;
          @include border-radius(50px);
          @include roboto-light;
          @include mobile-xs-359{
            left: -30px;
          }
        }
      }
      a {
        font-size: 20px;
        color: #212121;
        letter-spacing: 0.4px;
        @include mobile-xs-349 {
          font-size: 18px;
        }
        @include mobile-xs {
          font-size: 16px;
        }
        &:hover, &.active {
          color: $darkpurple;
          font-weight: bold;
        }
      }
    }
  }

  // close-main-menu
  .close-main-menu {
    position: absolute;
    right: 24px;
    top: 37px;
    z-index: 10;
    @include mobile-xs-349 {
      right: 20px;
      top: 20px;
    }
    @include mobile-xs {
      right: 16px;
      top: 16px;
    }
    img {
      width: 18px;
    }
  }

  // clockslanted
  .wave-slanted {
    &.clockslanted {
      display: none;
      height: 66px;
      bottom: 0;
    }
    // pin-pointer
    &.pin-pointer {
      display: none;
      height: auto;
      width: 62px;
      left: 50%;
      margin-left: -31px;
      bottom: 54px;
      z-index: 4;
      @include rotate(180);
    }
    // clock-image
    &.clock-image {
      display: none;
      height: auto;
      width: 260px;
      left: 50%;
      bottom: -57px;
      @include transform(translateX(-50%));
      @include border-radius(100%);
      @include box-shadow(0 0 10px rgba(0, 0, 0, 0.30));
      z-index: 1;
    }
  }

  //========== clock-timer ============//
  &.clock-timer {
    .profile-photo {
      height: 330px;
      padding-top: 65px;
    }
    .vertical-block .cell {
      vertical-align: top;
    }

    // normalslanted
    .normalslanted {
      display: none;
    }

    // pin-pointer
    .pin-pointer,
    .clockslanted, .clock-image {
      display: block;
    }

    // menu-list
    .menu-list {
      padding: 7px 84px 20px;
      @include mobile-xs-349 {
        padding: 7px 40px;
      }
    }

  }

}

// rotateInDownRight
.rotateInDownRight {
  display: inline-block;
  -webkit-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes rotateInDownRight {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rotateInDownRight {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
