// body-wrapper
.body-wrapper {
  @include full-width;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

// cover-map
.cover-map {
  height: 100%;
  top: 0;
}

.cover-map, .cover-map iframe {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  z-index: 2;
  overflow: hidden;
}

.cover-map {
  iframe {
    height: 140%;
    top: -20%;
  }
}

// overmap-conatent
.overmap-conatent {
  @include full-width;
  z-index: 4;
  padding: 137px 21px 0;
  // panel-offrelivre
  .panel-offrelivre{
    color: #000;
    background: #fff;
    text-align: center;
    padding: 11.5px 10px;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 0.6px;
    position: relative;
    z-index: 4;
    @include roboto-light;
    @include mobile-xs-349{
      padding: 9.5px 10px;
      font-size: 16px;
    }
    // img
    img{
      width: 6px;
      margin-right: 10px;
    }
    // white
    &.white{
      @include box-shadow(0 0 10px rgba(0, 0, 0, 0.30));
    }
    // purple
    &.purple{
      top: -4px;
      background: $darkpurple;
      color: $white;
      font-size: 15px;
      z-index: 2;
      padding-top: 15px;
      padding-bottom: 11px;
      @include mobile-xs-349{
        font-size: 12px;
        padding-top: 13px;
        padding-bottom: 9px;
      }
    }
  }
}

// sidefixed-info
.sidefixed-info {
  position: fixed;
  bottom: 106px;
  right: 0;
  z-index: 22;
  ul {
    @include full-width;
    li {
      display: block;
      margin-top: 19px;
      &:first-child {
        margin-top: 0;
      }
      // a
      a {
        font-size: 0px;
        display: block;
        width: 62px;
        height: 54px;
        background-color: $darkpurple;
        border: solid 1px #865fda;
        border-right: none;
        background-size: 23px;
        background-repeat: no-repeat;
        background-position: center center;
        @include border-radius(30px 0 0 30px);
        &:hover {
          background-color: darken($darkpurple, 10%);
        }
        // info
        &.info {
          background-image: url('#{$imageUrl}/side-info.png');
        }
        // comment
        &.comment {
          background-image: url('#{$imageUrl}/side-comment.png');
        }
        // location
        &.location {
          background-image: url('#{$imageUrl}/side-location.png');
        }
      }
    }
  }
}

// sidefixed-info
@include mob-maxheight550 {
  .sidefixed-info {
    bottom: 10%;
    ul li {
      margin-top: 16px;
      a {
        width: 54px;
        height: 47px;
        background-size: 19px;
      }
    }
  }
}

// offerets-narauto
.offerets-narauto {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  padding: 0 8px;
  .offerets-inner {
    width: 100%;
    float: left;
    padding: 21px 21px 13px;
    background-color: #f5f6fa;
    @include roboto-light;
    @include border-radius(8px 8px 0 0);
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.30));
  }
  // h4 & p
  h4, p {
    color: #212121;
    @include roboto-light;
  }
  // h4
  h4 {
    font-size: 21px;
    letter-spacing: -0.2px;
    margin-top: 0;
    margin-bottom: 13px;
    @include mobile-sm{
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
  // p
  p {
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 0.8px;
    word-spacing: 8px;
    line-height: 1.3;
    @include mobile-xs-349{
      word-spacing: 4px;
      font-size: 13px;
    }
    @include mobile-xs{
      word-spacing: 2px;
    }
  }
}

// type=number
input[type=number] {
  height: 45px;
  width: 45px;
  font-size: 25px;
  text-align: center;
  border: 1px solid #000000;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}