// font size
$bodysize: 16px !default;

// Black color
$black: #000000;
// gray Color
$gray: #909090;
// light gray Color
$l-gray: #7f7f80;
// white Color
$white: #fff;
// light-black
$light-black: #434343;
// skycolor
$skycolor: #a4ddf7;
//ghost-white
$ghostwhite:#f5f6fa;
// darkpurple
$darkpurple: #6f52a9;
// Image path
$imageUrl: '../images';
// fonts path
$fontpath: '../fonts';


