// bootstrap
@import "../vendor/stylesheets/bootstrap";
// variable
@import "variable";
// Mixins
@import "mixins";

// font-face
@font-face {
  font-family: 'Roboto';
  src: url('#{$fontpath}/Roboto-Regular.woff2') format('woff2'),
  url('#{$fontpath}/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$fontpath}/Roboto-Bold.woff2') format('woff2'),
  url('#{$fontpath}/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$fontpath}/Roboto-Light.woff2') format('woff2'),
  url('#{$fontpath}/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PassionOne-Regular';
  src: url('#{$fontpath}/PassionOne-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fontpath}/PassionOne-Regular.otf') format('opentype'),
  url('#{$fontpath}/PassionOne-Regular.woff') format('woff'), url('#{$fontpath}/PassionOne-Regular.ttf') format('truetype'),
  url('#{$fontpath}/PassionOne-Regular.svg#PassionOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('#{$fontpath}/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$fontpath}/fonts/Roboto-Medium.woff') format('woff'), url('#{$fontpath}/fonts/Roboto-Medium.ttf') format('truetype'),
  url('#{$fontpath}/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('#{$fontpath}/Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('#{$fontpath}/Roboto-Black.woff') format('woff'),
  url('#{$fontpath}/Roboto-Black.ttf')  format('truetype'),
  url('#{$fontpath}/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*img*/
img {
  max-width: 100%;
  height: auto;
}

/*appearance none*/
input, select, textarea, button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: none;
}

// default
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*a link*/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  @include transition(all 0.4s ease);
}

/*select*/
select::-ms-expand {
  display: none;
}

/*container*/
.container {
  @include lg-desktopmin-1400 {
    width: 1340px;
  }
}

/*full-img*/
.full-img {
  width: 100%;
  float: left;
}

/*body*/
body {
  background-color: $white;
  color: #000;
  font-size: 14px;
  font-kerning: none;
  @include roboto-regular;
}

/*body, html*/
body, html {
  height: 100%;
  margin: 0;
}

// import scss files
// header
@import "header";
// home
@import "home";
//fc4
@import "fc4";
//fc25
@import "fc25";
//fc35
@import "fc35";
//fc37
@import "fc37";
//fc40
@import "fc40";
//fc42
@import "fc42";
//fc45
@import "fc45";
//fc53
@import "fc53";
//fc56
@import "fc56";
//fc99
@import "fc99";
//fc221
@import "fc221";
// footer
@import "footer";
